@import './variables/normalize';
@import './variables/utils';
@import './variables/mixins';
// 
// ADAPTIVE
// MENU
@import './components/mobile-menu/mobile-menu';
// // HEADER
@import './components/header/head';
@import './components/header/contacts';
// // 
// MAIN
@import './components/main/hero';
@import './components/main/under-hero';
@import './components/main/our-classes';
@import './components/main/team';
@import './components/main/clients';
// // 
// // FOOTER
@import './components/footer/footer';
// // 
// // BACKDROP
@import './components/backdrop/backdrop';
@import './components/backdrop/form';
// // 
// //PORTFOLIO
// @import './components/portfolio-window/buttons';
// @import './components/portfolio-window/portfollio-main';




body {
    font-family: Roboto, sans-serif;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    @include container();
}

// .container--mobile{
//     @include container--mobile();
// }


.header-links__menu:hover,
.header-links__menu:focus {
    color: getColor('secondary-color');
}
