@import './variables/normalize';
@import './variables/utils';
@import './variables/mixins';
// 
// ADAPTIVE
// @import './mobile/mobile';
// MENU
@import './components/mobile-menu/mobile-menu';
// // HEADER
@import './components/header/head';
@import './components/header/contacts';
// // 
// MAIN
// @import './components/main/hero';
// @import './components/main/under-hero';
// @import './components/main/our-classes';
// @import './components/main/team';
// @import './components/main/clients';
// // 
// // FOOTER
// @import './components/footer/footer';
// // 
// // BACKDROP
// @import './components/backdrop/backdrop';
// @import './components/backdrop/form';
// // 
// //PORTFOLIO
// @import './components/portfolio-window/buttons';
// @import './components/portfolio-window/portfollio-main';




body {
    font-family: Roboto, sans-serif;
    font-style: normal;
}

img {
    display: block;
}

.container {
    @include container();
}


.header-links__menu:hover,
.header-links__menu:focus {
    color: getColor('secondary-color');
}

.classes-title__team {
    color: getColor('main-color');
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}