.buttons {
    padding-top: 95px;
    margin-bottom: 34px;
}

.button-portfolio {
    display: flex;
}
.buttons-block {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.button-main {
    padding-right: 8px;
}
.button-filter {
    color: getColor('main-color');
    background-color: getColor('team-bg-color');
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-radius: 4px;
    white-space: nowrap;
    border: none;
    transition: color 250ms getColor('cubic-main'),
    background-color 250ms getColor('cubic-main'),
    box-shadow 250ms getColor('cubic-main');
}
.button-filter:hover,
.button-filter:focus {
    color: getColor('whitey-color');
    background-color: getColor('secondary-color');
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
