/* MAIN */
.card {
    padding-bottom: 93px;
}
.card-many {
    display: flex;
}
.card-info {
    border: 1px solid getColor('card-info__col');
    box-sizing: border-box;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
.portfolio-card:hover .techno-text,
.portfolio-card:focus .techno-text {
    transform: translateY(0);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.thumb {
    position: relative;
    overflow: hidden;
}
.card-block {
    display: block;
}
.techno-text {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: getColor('whitey-color');
    background-color: getColor('techno-bg-color');
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform 250ms getColor('cubic-main');
}
.card-info__title {
    padding: 24px 20px;
}
.card-pojects {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: getColor('primary-text-color');
}
.card-info__about {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: getColor('rare-color');
}
.card-info:not(:last-child) {
    margin-right: 30px;
}


