.under-team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: -15px;
}

.clients-border {
  width: 210px;
  height: 90px;

  margin: 15px;

  flex-basis: calc((100% - 30px * 2) / 2);

  @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px * 3) / 3);
  }

  @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.clients-ico {
    fill: currentColor;
}


.clients-links {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid $clients-icon;
  border-radius: 4px;
  color: $clients-icon;
  transition: color 250ms $bazier,
  border-color 250ms $bazier;

  &:focus,
  &:hover {
      border-color: $accent-color;
      color: $accent-color;
      outline: none;
  }
}

.clients-links:hover,
.clients-links:focus {
    border-color: getColor('secondary-color');
    border-radius: 4px;

    color: getColor('secondary-color');
}
