.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    background-color: $third-bg-color;

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(/images/background-hero/mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/images/background-hero/mobile2x.jpg);
    }
}

@media (min-width: $tablet) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/images/background-hero/tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(/images/background-hero/tablet2x.jpg);
        }
    }
}

@media (min-width: $desktop) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/images/background-hero/desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(/images/background-hero/desktop.jpg);
        }
    }
}

.hero-title {
    color: $white-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: 0;

    // display: block;
}

.hero-button {
    color: $primary-bg-color;
    background-color: $accent-color;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    margin-top: 30px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
}

