.team {
    background-color: getColor('team-bg-color');
    padding-top: 94px;
    padding-bottom: 94px;
}

.classes-title__team {
    color: getColor('main-color');
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}

.team-best__member {
  @extend %list;

  @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
  }
}

.team-block {
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:first-child) {
      @media screen and (max-width: 767px) {
          margin-top: 30px;
      }
  }

  @media screen and (min-width: $tablet) {
      margin: 15px;
      flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: $desktop) {
      margin: 15px;
      flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.team-cards {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin: 0;
  padding: 0;
}

.team-profession {
  color: $secondary-text-color;

  font-weight: 400px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-top: 10px;

}


.team-links__category {
  @extend %list;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-top: 16px;

  &--footer {
      margin-top: 20px;
  }
}

.team-links__personal{
border-radius:50%;
transition: background-color 250ms getColor('cubic-main');

  &:not(:first-child) {
      margin-left: 10px;
  }
}


.team-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  color: #afb1b8;

  // &--grey {
  //     color: #afb1b8;
  //     transition: color 250ms $bazier, background-color 250ms $bazier;
  // }

  // &--white {
  //     color: $white-color;
  //     background-color: $network-bg-color;
  // }
  }

.team-icon {
fill: currentColor;
width: 100%;
}

