.hero-under {
    box-sizing: border-box;
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-manusript {
    display: flex;
    letter-spacing: 0.03em;
}

.hero-links__ico {
    padding: 25px 100px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: getColor('team-bg-color');
}

.hero-title__criteria {
    color: getColor('main-color');
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.1;
    font-size: 14px;
    padding-bottom: 10px;
}

.hero-info {
    color: getColor('rare-color');
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
}