.hero-under {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-manusript {
  @extend %list;

  @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
  }
}
.hero-item{
      &:not(:first-child) {
          @media screen and(max-width: 767px) {
              margin-top: 30px;
          }
      }

      @media screen and(min-width: $tablet) {
          margin: 15px;
          flex-basis: calc((100% - 30px * 2) / 2);
      }

      @media screen and(min-width: $desktop) {
          margin: 15px;
          flex-basis: calc((100% - 30px * 4) / 4);
      }
}
.hero__thumb{
      background-color: $secondary-bg-color;

      display: flex;
      align-items: center;
      justify-content: center;

      padding-top: 25px;
      padding-bottom: 25px;
}
.hero-links__ico {
    padding: 25px 100px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: getColor('team-bg-color');
}

.hero-title__criteria {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin: 0;
  padding: 0;

  margin-top: 30px;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
      text-align: center;
  }
}

.hero-info {
  color: $secondary-text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin: 0;
  padding: 0;
}