.footer {
    background-color: getColor('hero-bg-color');
      @media screen and (max-width: 1199px) {
          text-align: center;
      }
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
  }
}

.container-footer__links {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
      width: 100%;
      display: flex;
      align-items: baseline;
  }
}

.container-footer__logo {
  display: inline-block;
  font-family: Raleway,
  sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
    .container-footer__logo {
        font-size: 26px;
        line-height: 1.19;
    }
}
.logo--footer {
    color: #ffffff;
}

.address {
  margin-top: 20px;
  font-style: inherit;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-list {
  @extend %list;
}
.address-list,
.address-item:last-child {
    margin-top: 8px;
}

.address-location {
    color: getColor('whitey-color');
    text-decoration: none;
}
.address-text {
    color: $primary-bg-color;
}

.footer-links {
    display: block;
    margin-bottom: 9px;
}

.list-links {
    display: block;
}

.logo__text{
      color: #2196f3;
}
.logo-whitey{
    color: getColor('whitey-color');
}

.contacts-footer {
  color: $footer-address-color;
  transition: color 250ms $bazier;
  display: inline-block;

  &:hover,
  &:focus {
      color: $accent-color;
  }
}

.contacts-footer:hover,
.container-footer:focus {
    color: getColor('secondary-color');
    text-decoration: none;
}

.footer-social__links {
  text-align: center;

  

  @media screen and (max-width: 767px) {
      margin-top: 60px;
  }

  @media screen and (min-width: $desktop) {
      margin-left: 70px;
  }
}

.footer-social__title {
  margin: 0;
  padding: 0px;

  color: $white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-right__list {
  @extend %list;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-top: 16px;

  &--footer {
      margin-top: 20px;
  }
}

.footer-team__links {
  &:not(:first-child) {
      margin-left: 10px;
  }
}

.footer-team__links:not(:first-child) {
    margin-left: 10px;
}

.footer-links__social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;
    background-color: rgba(255, 255, 255, 0.1);

  &--grey {
      color: #afb1b8;
      transition: color 250ms $bazier, background-color 250ms $bazier;
  }

  &--white {
      color: $white-color;
      background-color: $network-bg-color;
  }

  &:hover,
  &:focus {
      background-color: $accent-color;
      color: $white-color;
      outline: none;
  }
}

.footer-icon {
    fill: getColor('whitey-color');

}

.mailing-container {
  width: 100%;

  @media screen and (max-width: 1199px) {
      margin-top: 60px;
  }

  @media screen and (min-width: $desktop) {
      margin-left: 93px;
  }
}

.sub-newsletter {
  margin: 0;
  padding: 0;

  color: $white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.mailing-form {
  margin-top: 20px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
      justify-content: center;
  }
}

// .mailing-label {
//     display: inline-block;
// }

.mailing-input {
  padding: 15px 16px;
  max-width: 450px;
  width: 100%;

  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-btn {
  margin-top: 20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 200px;
  height: 50px;

  color: $white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  border-radius: 4px;
}

.send-icon {
    margin-left: 10px;
    fill: currentColor;
}