/* Контакты в хедере */

.contacts__list {
    @extend %list;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__item:last-child {
    @media screen and (max-width: 1199px) {
        margin-top: 10px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 30px;
    }
}

.contacts__link {
    color: $secondary-text-color;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    transition: color 250ms var(--bazier);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__icon {
    margin-right: 8px;
    text-align: center;
    fill: currentColor;
}

.logo {
    display: inline-block;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }

    &--header {
        color: $black-logo;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &--footer {
        color: $white-color;
    }
}

.logo__text {
    color: $accent-color;
}