// /* Навигация сайта */

.nav__list {
    @extend %list;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 88px;

        @media screen and (min-width: $desktop) {
            margin-left: 93px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item:not(:first-child) {
    margin-left: 50px;
}

.nav__link {
    color: $primary-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms $bazier;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.nav__link--active {
    color: $accent-color;
    position: relative;

    &::after {
        position: absolute;
        bottom: 0;

        content: '';
        display: block;
        width: 100%;
        height: 4px;

        margin-top: 28px;

        background-color: $accent-color;
        border-radius: 2px;
    }
}
// 
// 
.page-header {
    border-bottom: 1px solid #ececec;
}

.container--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
