.header {
    border: 1px solid getColor('border-header__col');
}

.header-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-navigation__logo {
    font-size: 26px;
    font-family: Raleway, sans-serif;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: getColor('main-color');
}

.header-navigation,
.contacts {
    display: flex;
}

.web {
    color: getColor('secondary-color');
}

.header-links__menu {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: getColor('main-color');
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 30px;
    transition: color 250ms getColor('cubic-main');
}

.header-links__menu.active {
    color: getColor('secondary-color');
    position: relative;
}

.header-links__menu.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 4px;
    margin-top: 28px;
    width: 100%;
    background-color: getColor('secondary-color');
    border-radius: 2px;
}