/* BACKDROP */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow-y: scroll;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $bazier, visibility 250ms $bazier;

    padding: 93px 15px;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
