.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: getColor('backdrop-bg-col');
    transition: opacity 250ms getColor('cubic-main');
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    overflow: auto;
    display: block;
    width: 528px;
    height: 581px;
    background-color: getColor('whitey-color');
    transition: transform 250ms getColor('cubic-main');
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.button-modal {
    position: absolute;
    right: 8px;
    top: 8px;
    border: 1px solid getColor('backdrop-bg-col');
    background-color: getColor('whitey-color');
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 250ms getColor('cubic-main');
}

.button-modal:hover,
.button-modal:focus {
    background-color: getColor('secondary-color');
    cursor: pointer;
}