.form-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 20px;

  line-height: 1.5;
  text-align: center;
}
.form-mailing {
    padding-left: 40px;
    padding-right: 40px;
}
.form-input input,
textarea {
    border: 1px solid getColor('main-color');
    transition: border-color 250ms getColor('cubic-main');
    border-radius: 4px;
    width: 448px;
    height: 40px;
}
.form-input input:focus,
textarea:focus {
    border-color: getColor('border-form-col');
    outline: none;
}
// 
// 
.backdrop-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: getColor('rare-color');
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 10px;
}
.backdrop-label:focus+.contact-icon {
    fill: getColor('label-form-col');
}
// 
// 
.about-me-back {
    position: relative;
    padding: 11px 42px;
    width: 100%;
}
.about-me-back:focus+.contact-icon {
    fill: getColor('secondary-color');
}
.chekbox-input:checked~.contact-icon {
    fill: getColor('label-form-col');
}
// 
// 
.textarea-form textarea {
    width: 448px;
    height: 120px;
    resize: none;
}
.textarea-backdrop {
    padding: 12px 16px;
}
.textarea-backdrop::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: getColor('textarea-back-col');
}
// 
// 
.backdrop-checkbox {
    padding-top: 20px;
}
.checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chekbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox-text {
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
}
.checkbox-link {
    color: getColor('secondary-color');
    text-decoration: underline;
}
.contact-icon {
    left: 0;
    margin-left: 52px;
    margin-top: 15px;
    /* border: 1px solid black; */
    position: absolute;
    fill: getColor('primary-text-color');
    transition: fill 250ms getColor('cubic-main');
}

.check-icon,
.uncheck-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition: opacity 250ms getColor('cubic-main');
    margin-left: 9px;
}
.check-icon {
    opacity: 0;
    transition: fill 250ms getColor('cubic-main');
    fill: getColor('primary-text-color');
}
.chekbox-input:checked~.check-icon {
    opacity: 1;
}
.chekbox-input:checked~.uncheck-icon {
    opacity: 0;
}
.chekbox-input:checked~.contact-icon {
    fill: getColor('label-form-col');
}
// 
// 
.backdrop-button {
    width: 200px;
    height: 50px;
    background-color: getColor('border-form-col');
    transform: background-color 250ms getColor('cubic-main');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: getColor('whitey-color');
}
.backdrop-button:hover,
.backdrop-button:focus {
    background-color: getColor('label-form-col');
    cursor: pointer;
}