.callback-form {
    margin-top: 12px;
}

.callback-form__label {
    display: block;

    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary-text-color;

    &:not(:first-child) {
        margin-top: 10px;
    }
}

.callback-form__wraper {
    position: relative;
}

.callback-form__input {
    margin-top: 4px;
    padding: 11px 42px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $bazier;

    &:focus-within {
        border-color: $accent-color;
        outline: none;
    }
}

.callback-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: $primary-text-color;
    transition: fill 250ms $bazier;

    .callback-form__input:focus-within+& {
        fill: $accent-color;
    }
}

.callback-form__input--feedback {
    padding: 12px 16px;
    resize: none;

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    }
}

.submit-button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;

    color: $white-color;
    background-color: $accent-color;

    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms $bazier;

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.checkbox {
    margin-top: 20px;
}

.checkbox__link {
    color: $accent-color;
    text-decoration: underline;
}

.checkbox__label {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.checkbox__input {
    opacity: 0;
}

.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 0px;

    transform: translateY(-50%);

    transition: opacity 250ms $bazier;

    &--check {
        opacity: 0;
    }
}

.checkbox__input:checked~.checkbox__icon--check {
    opacity: 1;
}

.checkbox__input:checked~.checkbox__icon--uncheck {
    opacity: 0;
}

.checkbox__text {
    margin-left: 7px;

    color: $secondary-text-color;

    font-size: 12px;
    line-height: 1.16;
}

.modal {
    padding: 40px;
    position: relative;
    max-width: 450px;

    @media screen and (min-width: 450px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        padding: 40px;

        max-width: 450px;
        width: 100%;

        max-height: 100vh;
    }

    @media screen and (min-width: $desktop) {
        max-width: 528px;
    }

    background-color: $white-color;
    transition: transform 250ms $bazier;

    .backdrop.is-hidden & {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal__text {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 20px;

    line-height: 1.5;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    margin-left: auto;
    background: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color 250ms $bazier;
    color: #000000;

    &:hover,
    &:focus {
        color: $accent-color;
        outline: none;
    }
}

.close-button__icon {
    fill: currentColor;
}
